<div class="form" [formGroup]="form">
    <mat-form-field appearance = "fill">
        <mat-label>Fill form field</mat-label>
        <input matinput type = "text" formControlName = "name" placeholder = "nume"> 
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance = "fill">
        <mat-label>Fill form field</mat-label>
        <input matinput type = "text" formControlName = "descriere" placeholder = "descriere"> 
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance = "fill">
        <mat-label>Fill form field</mat-label>
        <input matinput type = "text" formControlName = "cantitate" placeholder = "cantitate"> 
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
</div>