.about-section {
  padding: 40px;
  text-align: center;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    padding-bottom: 3%;
    font-size: 40px;
    margin-bottom: 20px;
    background: radial-gradient(circle, #84009b, #0099ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.171);
    font-weight: bolder;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

  p {
    padding-top: 2%;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.169);
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }
}
