<h1 mat-dialog-title>hh</h1>
<div class="form" [formGroup]="form">
    <mat-form-field appearance = "fill">
        <mat-label>Fill form field</mat-label>
        <input matInput type="text" formControlName="name" placeholder="nume"> 
    </mat-form-field>

    <mat-form-field appearance = "fill">
        <mat-label>Fill form field</mat-label>
        <input matInput type="text" formControlName="number" placeholder="descriere"> 
    </mat-form-field>

    <mat-form-field appearance = "fill">
        <mat-label>Fill form field</mat-label>
        <input matInput type="text" formControlName="category" placeholder="cantitate"> 
    </mat-form-field>
    <!---->
    <button mat-raised-button="accent" (click)="saveNewItem()">save</button>
</div>